@media (max-width: $BREAKPOINT_TABLET) {
  .container {
    margin: 0 2%;
  }

  .navbar {
    .container {
      margin: 0;
    }
  }

  .home {
    .fixed-right {
      position: relative;
    }
  }
}